@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

.aboutBackground{
    background-image: url(../public/background.png);
    background-size: cover;
    padding-bottom: 213px;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.flex-item {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    gap: 100px;
}
.flex-item img{
    flex-grow:0;
    flex-shrink:0;
}

.main-photo{
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 8px 8px rgba(255, 161, 1, 1);
}

.info-container{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 500px;
}

.fill{
    width: 100px;
}

.aboutContainer{
    display:flex;
    color: orange;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.offerContainer{
    display:flex;
    color: orange;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

.about-pic{
    width: 900px;
}

@media screen and (max-width: 580px) {
    .aboutContainer{
        padding-top: 200px;
        font-size: 25px;
    }
    .info-container {
        width: 300px;
    }
}
